.fade-in {
    -webkit-animation: fade-in 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
    animation: fade-in 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  