.btn-purple {
    color: #ffffff;
    background-color: #7A76FF;
    border-color: #7A76FF;
}

.btn-purple:hover {
    color: #ffffff !important;
    background-color: #524dff !important;
    border-color: #524dff !important;
}